<head>
    <title>About-Us | News Roll</title>
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="css/themify-icons.css" type="text/css">
    <link rel="dns-prefetch" href="http://maps.googleapis.com/">
    <link rel="dns-prefetch" href="http://s.w.org/">
    <link rel="stylesheet" href="css/theme-beige.css" type="text/css">
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="css/animsition.min.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-datetiempicker.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/default-style.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/js_composer.min.css" type="text/css">
    <link rel="stylesheet" href="css/rs6.css" type="text/css">
    <link rel="stylesheet" href="css/slick.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/style(1).css" type="text/css">
    <link rel="stylesheet" href="css/style(2).css" type="text/css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <link rel="stylesheet" href="css/vendors-style.css" type="text/css">
    <link rel="stylesheet" href="css/woocommerce-layout.css" type="text/css">
    <link rel="stylesheet" href="css/woocommerce-smallscreen.css" type="text/css">
    <link rel="stylesheet" href="css/woocommerce.css" type="text/css">
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        #Jload {
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 9999;
            background: #fff url('images/Load.gif') no-repeat center center;
        }
    </style>
</head>

<div id="Jload"></div>
<div id="Jcontent">
    <%-include('HeaderPage') %>


    <!-- Content -->
    <div id="content" style="margin-left:12rem;">


        <div class="page-title bg-light">
            <div class="container">
                <div class="row">
                    <div style="left: 12%; text-align: center;" class="col-lg-8 push-lg-4">
                        <br><br>
                        <h1 class="mb-0">About Us</h1>
                        <h4 class="text-muted mb-0">Some information about our System</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-content ">

            <div id="primary" class="content-area">
                <main id="main" class="site-main">

                    <!-- Page Content -->
                    <div class="page-content ">

                        <div class=" clearfix">
                            <div class="main left ">

                                <article id="post-99" class="post-99 page type-page status-publish hentry">
                                    <div class="entry-content">
                                        <div class="vc_row wpb_row vc_row-fluid">
                                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                                <div class="vc_column-inner">
                                                    <div class="wpb_wrapper">
                                                        <section class="section section-bg-edge abt">
                                                            <div class="image left bottom col-md-7">
                                                                <div class="bg-image"
                                                                    style="background-image: url(images/aboutus.jpg);">
                                                                    <img src="images/aboutus.jpg)" alt="About"
                                                                        style="display: none;"></div>
                                                            </div>

                                                            <div class="container">
                                                                <div class="col-lg-5 push-lg-5 col-md-9 push-md-3">

                                                                    <h2>The best Newspaper System awaits YOU!!
                                                                    </h2>
                                                                    <p></p>
                                                                    <p class="lead">The newspaper has been one of
                                                                        consistent source of information for many.
                                                                        Through this system, it is intended to ease out
                                                                        the selection system at user end, as in current
                                                                        times there could versatile choices of newspaper
                                                                        of every individual.
                                                                        For <b>buyers</b> this is a very useful website
                                                                        as you can change
                                                                        your subscription anytime and get exciting
                                                                        offers
                                                                        on newspapers.
                                                                        For <b>newspapers vendors</b>, you can add as
                                                                        many newspapers
                                                                        as you want and in any quantity.</p>

                                                                    <p>The tedious process of registration to
                                                                        a particular newspaper will not be there. The
                                                                        admin will have the data
                                                                        of the registered user, their choice and
                                                                        subsequently they will connect to suitable
                                                                        vendor. For the vendors, through
                                                                        this system they can registered to the admin
                                                                        with their detailed of newspaper availability.
                                                                    </p>

                                                                    <p>For <b>delivery people</b>, this platform will
                                                                        provide
                                                                        an easier way to earn money. you just need to
                                                                        fill
                                                                        in area you are able to deliver newspaper and
                                                                        rest all
                                                                        is in our hands.
                                                                    </p>
                                                                    <h6>Team News Roll</h6>
                                                                    <a href="/Contact">Contact Us</a>
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div><!-- .entry-content -->

                                </article><!-- #post-## -->
                            </div>

                        </div>

                    </div>

                </main><!-- #main -->
            </div><!-- #primary -->


        </div> <!-- #content -->


    </div>
    <%-include('footer')%>
</div>
<script src="Load.js"></script>