<head>
    <title>CONTACT | News Roll </title>

    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="css/theme-beige.css" type="text/css">
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="css/animsition.min.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-datetiempicker.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/default-style.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/js_composer.min.css" type="text/css">
    <link rel="stylesheet" href="css/rs6.css" type="text/css">
    <link rel="stylesheet" href="css/slick.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/style(1).css" type="text/css">
    <link rel="stylesheet" href="css/style(2).css" type="text/css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <link rel="stylesheet" href="css/vendors-style.css" type="text/css">
    <link rel="stylesheet" href="css/woocommerce-layout.css" type="text/css">
    <link rel="stylesheet" href="css/woocommerce-smallscreen.css" type="text/css">
    <link rel="stylesheet" href="css/woocommerce.css" type="text/css">
    <style>
        .column {
            float: left;
            width: 50%;
            padding: 10px;

        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .center {
            padding-left: 12rem;
            display: -webkit-inline-box;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }



        .center img {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        #Jload {
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 9999;
            background: #fff url('images/Load.gif') no-repeat center center;
        }

        .blue_box,
        .green_box,
        .form_box {
            display: table-cell;
            border-radius: 10px;
            overflow-x: auto;
            overflow-y: hidden;
        }

        .form_box span {
            background-color: rgb(230 243 243);
            color: rgb(10, 10, 10);
            border: 4px rgb(0, 0, 0);
            padding: 10px 10px;
            display: block;
            width: 790px;
            font-size: 14;
            overflow: hidden;
            border-radius: 20px;
            margin-bottom: 1rem;
        }

        .blue_box span {
            background-color: rgb(34, 34, 34);
            color: white;
            padding: 10px 10px;
            display: block;
            width: 250px;
            border-radius: 20px;
        }

        .green_box span {
            background-color: rgb(255, 252, 207);
            color: rgb(0, 0, 0);
            padding: 10px 10px;
            display: block;
            width: 150px;
            border-radius: 20px;

        }
    </style>
</head>
<script src="Load.js"></script>

<div id="Jload"></div>
<div id="Jcontent">
    <%- include('HeaderPage') %>
    <!-- Content -->
    <br>
    <br>
    <br>
    <br>
    <h style="padding-left: 15rem; font-size: 56px;font-weight: 500;">Contact Us</h><br><br>
    <div margin-left="34" class="center">
        <br>
        <div style="align-content: center;">
            <img src="images/Jay.png" height="30" style="width: 250;"><br>
            <h style="padding-left: 5rem; font-size: 26px;font-weight: 500;">Jay Sood</h><br>
            <h style="padding-left: 3.5rem; font-size: 16px;font-weight: 500;">Software Developer </h><br><br>

            <a style="margin-left: 52px;" href="mailto:jaisood08@gmail.com"
                class="icon icon-social icon-circle icon-sm icon-google"><i class="fa fa-google"></i></a>

            <a href="https://github.com/Jaisood08" class="icon icon-social icon-circle icon-sm icon-facebook"><i
                    class="fa fa-github"></i></a>

            <a href="https://www.linkedin.com/in/jay-sood/"
                class="icon icon-social icon-circle icon-sm icon-linkedin"><i class="fa fa-linkedin"></i></a>

            <a href="https://www.instagram.com/jaisood08/"
                class="icon icon-social icon-circle icon-sm icon-instagram"><i class="fa fa-instagram"></i></a>
        </div>

        <div style="align-content: center;">
            <img src="images/shivoham.png" height="30" style="width: 250;"><br>
            <h style="padding-top:12rem; padding-left: 1rem; font-size: 26px;font-weight: 500;">Shivoham Sharma</h>
            <br>
            <h style="padding-left: 4rem; font-size: 16px;font-weight: 500;">Product Manager</h><br><br>


            <a style="margin-left:87px;" href="mailto:shivohamsharma50@gmail.com"
                class="icon icon-social icon-circle icon-sm icon-google"><i class="fa fa-google"></i></a>
            <a href="https://www.linkedin.com/in/shivoham-sharma-04a21a19b/"
                class="icon icon-social icon-circle icon-sm icon-linkedin"><i class="fa fa-linkedin"></i></a>


        </div>

        <div style="align-content: center;">
            <img src="images/Sezal.png" height="30" style="width: 250;"><br>
            <h style="padding-left: 2.5rem; font-size: 26px;font-weight: 500;">Sezalpreet Kaur</h><br>
            <h style="padding-left: 4.4rem; font-size: 16px;font-weight: 500;">Product Manager</h><br><br>

            <a style="margin-left:87px;" href="mailto:sezalprkaur@gmail.com"
                class="icon icon-social icon-circle icon-sm icon-google"><i class="fa fa-google"></i></a>
            <a href="https://www.linkedin.com/in/sezalpreet-kaur-252124171/"
                class="icon icon-social icon-circle icon-sm icon-linkedin"><i class="fa fa-linkedin"></i></a>



        </div>

        <div style="align-content: center;">
            <img src="images/Anupreet.png" height="30" style="width: 250;"><br>
            <h style="padding-left: 2rem; font-size: 26px;font-weight: 500;">Anupreet Kaur</h><br>
            <h style="padding-left: 4rem; font-size: 16px;font-weight: 500;">Marketing Officer </h><br><br>

            <a style="margin-left:97px;" href="mailto:akaur1_be18@thapar.edu"
                class="icon icon-social icon-circle icon-sm icon-google"><i class="fa fa-google"></i></a>




        </div>
    </div>
    <br>
    <br>
    <br>
    <br>

    <%-include('footer')%>
</div>