<!-- Footer -->
<footer id="footer" class="bg-dark dark">


    <div class="container">
        <!-- Footer 1st Row -->
        <div class="footer-first-row row">
            <div id="soup_about-widget-1" class="widget soup-about-widget">
                <!-- start coding  -->
                <div class="text-center">
                    <a href="/"><img src="images/logo-light.png" height="120" width="120" alt="Logo"></a>
                </div>

                <!-- start code here -->

            </div>
            <div id="recent-posts-4" class="widget widget_recent_entries">
                <h5>Quick Help</h5>
                <ul class="list-posts">
                    <li>
                        <a href="/" class="title">How to place a order?</a>
                    </li>
                    <li>
                        <a href="/" class="title">How to make payment</a>
                    </li>
                    <li>
                        <a href="/" class="title">FAQs</a>
                    </li>
                </ul>

            </div>
            <div id="soup_newsletter-widget-1" class="widget soup-newsletter-widget">
                <h5>Subscribe</h5> <!-- start coding  -->


                <!-- Mailchimp for WordPress v4.8.1 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-21" method="post" data-id="21" data-name="">
                    <div class="mc4wp-form-fields">
                        <div class="input-group">
                            <input name="EMAIL" id="mce-EMAIL" type="email" class="form-control"
                                placeholder="Tap your e-mail..." required="">
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-submit" type="submit">
                                    <span class="description">Subscribe</span>
                                    <span class="success">
                                        <svg x="0px" y="0px" viewBox="0 0 32 32">
                                            <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none"
                                                stroke="#FFFFFF" stroke-width="2" stroke-linecap="square"
                                                stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="error">Try again...</span>
                                </button>
                            </span>
                        </div>
                    </div><label style="display: none !important;">Leave this field empty if you're human:
                        <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1"
                            autocomplete="off"></label><input type="hidden" name="_mc4wp_timestamp"
                        value="1601490041"><input type="hidden" name="_mc4wp_form_id" value="21"><input type="hidden"
                        name="_mc4wp_form_element_id" value="mc4wp-form-1">
                    <div class="mc4wp-response"></div>
                </form>
                <!-- / Mailchimp for WordPress Plugin -->
                <h5 class="text-muted mb-3 mt-3">Social Media</h5>

                <a href="#" class="icon icon-social icon-circle icon-sm icon-facebook"><i
                        class="fa fa-facebook"></i></a>

                <a href="#" class="icon icon-social icon-circle icon-sm icon-google"><i class="fa fa-google"></i></a>

                <a href="#" class="icon icon-social icon-circle icon-sm icon-twitter"><i class="fa fa-twitter"></i></a>

                <a href="#" class="icon icon-social icon-circle icon-sm icon-youtube"><i class="fa fa-youtube"></i></a>

                <a href="#" class="icon icon-social icon-circle icon-sm icon-instagram"><i
                        class="fa fa-instagram"></i></a>

                <!-- start code here -->

            </div>
        </div>
        <!-- Footer 2nd Row -->


        <div class="footer-second-row">
            <span class="text-muted">Copyright News Roll 2020 ®.</span>

        </div>
    </div>

    <!-- Back To Top -->
    <a href="/" id="back-to-top" class=""><i class="ti ti-angle-up"></i></a>

</footer>
<!-- Footer / End -->