<!-- Panel Cart -->
<div id="panel-cart" class="show">
    <div class="panel-cart-container">
        <div class="panel-cart-title">
            <h5 class="title">Your Cart</h5>
            <button class="close" data-toggle="panel-cart"><i class="ti ti-close"></i></button>
        </div>

        <div class="panel-cart-content minc-list">
            <form action="http://themebeer.com/wp/soup/" class="sp-mincart" method="post">
                <table class="table-cart min">
                </table>
                <div class="cart-summary">
                    <p>No products in the cart.</p>

                </div>
            </form>
        </div>

    </div>
    <a href="http://themebeer.com/wp/soup/checkout/"
        class="panel-cart-action btn btn-secondary btn-block btn-lg"><span>Go to checkout</span></a>
</div>