html,
body {
  height: 100%;
}


body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px; 
  padding-bottom: 40px;
  background-image: url("../images/BacKblur.jpg");
  color: #fff;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.form-signin {
  background: rgba(0, 0, 0, 0.527);
  width: 100%;
  margin: 1 auto;
  max-width: 700px;
  padding: 20px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  /* display: inline-block; */
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
}
.form-signin input[type="areacode"] {
  margin-bottom: -1px;

}
.form-signin input[type="address"] {
  margin-bottom: 10px;

}

.form-signin input[type="profilepic"] {
  margin-bottom: -50px;
}

.form-signin input[type="file"] {
  margin-bottom: 0px;
}